<div id="whatsnew" class="max-w-6xl mx-auto mt-6 p-4 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 rounded-md flex justify-between items-center transition-opacity duration-500 opacity-0 hidden">
  <div>
    <h2 class="font-bold">What's new?</h2>
    <br>
    <p class="text-sm">
      🇺🇸 Icon reference / 🇪🇸 Referencia de iconos
    </p>
    <ul class="text-sm list-disc list-inside">
      <li>🌍 / 🏠 : Set date to UTC or local time / Setear fechas en UTC o local</li>
      <li>🙈 / 👁️ : Hide or show detailed info / Ocultar o ver info detallada</li>
      <li>⏸️ / ▶️ : Autorefresh</li>
      <li>🌙 / ☀️ : Dark / light mode</li>
    </ul>
  </div>
  <button onclick="closewhatsnew()" class="bg-gray-300 dark:bg-gray-500 text-sm px-3 py-1 rounded">
    Close
  </button>
</div>
