<div id="whatsnew" class="max-w-6xl mx-auto mt-6 p-4 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 rounded-md flex justify-between items-center transition-opacity duration-500 opacity-0 hidden">
  <div>
    <h2 class="font-bold">What's new?</h2>
    <br>
    <p class="text-sm">
      🇺🇸 Icon reference in the top right corner:
    </p>
    <ul class="text-sm list-disc list-inside">
      <li>🌍 / 🏠 : Set date display to UTC / local time</li>
      <li>🙈 / 👁️ : Hide / show user timeline details</li>
      <li>⏸️ / ▶️ : Autorefresh</li>
      <li>🌙 / ☀️ : Dark / light mode</li>
    </ul>
    <br>
    <p class="text-sm mt-2">
      🇪🇸 Referencia de iconos en el margen superior derecho:
    </p>
    <ul class="text-sm list-disc list-inside">
      <li>🌍 / 🏠 : Setear fechas en horario UTC / local</li>
      <li>🙈 / 👁️ : Ocultar / ver detalles de timeline de usuarios</li>
      <li>⏸️ / ▶️ : Autorefresh</li>
      <li>🌙 / ☀️ : Modo oscuro / claro</li>
    </ul>
  </div>
  <button onclick="closewhatsnew()" class="bg-gray-300 dark:bg-gray-500 text-sm px-3 py-1 rounded">
    Close
  </button>
</div>
