{
  "name": "{{ name }}",
  "short_name": "{{ short_name }}",
  "start_url": "/",
  "display": "standalone",
  "background_color": "#111827",
  "theme_color": "#1f2937",
  "orientation": "any",
  "icons": [
    {
      "src": "static/img/logo-192.png",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "static/img/logo-512.png') }}",
      "type": "image/png",
      "sizes": "512x512"
    }
  ]
}